main {
    text-align: center;
}

figure > legend {
    padding-block: 1rem;
    border-bottom: lightgray 1px solid;
}

#account-purchases_list {
    list-style: none;
    padding-inline: 0px;

    & > li {
        text-align: center;
        padding-block: 1rem;
    }
}
