h2 {
    text-align: center;
}

main > section {
    display: grid;
}

#delete-account_trigger {
    justify-self: center;
}

#delete-account_modal > section {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

::backdrop {
    background-image: linear-gradient(
        45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green
    );
    opacity: 0.75;
}
