@import './input.css';

form {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding-top: 2rem;
}

form > ul {
    display: grid;
    gap: 1rem;
    list-style: none;
    padding-left: 0px;
    width: fit-content;
}

ul > li {
    display: grid;
    gap: 0.25rem;
}

form:invalid button[type='submit'] {
    opacity: 0.3;
    pointer-events: none;
}

form:valid button[type='submit'] {
    opacity: 1;
    pointer-events: all;
}

@media (width >= 320px) and (width <= 480px) {
    form button {
        width: 33vw;
        padding: 0.75rem;
    }
}
