.poem-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.poem-section-container p {
    text-align: center;
}

@media (width >= 320px) and (width <= 480px) {
    .poem-section-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}
