.poem-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding-top: 2rem;
}

.poem-section-container {
    & h2,
    & h3,
    & h4,
    & p {
        text-align: center;
    }
}

@media (width >= 320px) and (width <= 480px) {
    .poem-section-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        padding-top: auto;

        & .poem-content-container {
            order: 2;
        }
    }
}
