.cart_item {
    --element-br: 10px;
    display: flex;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: var(--element-br);

    & > .cart_item-information {
        display: grid;
        grid-template-columns: 4fr 7fr 1fr;;

        & .work-info {
            align-items: start;
            gap: 0.5rem;

            & .work-price {
                justify-self: center;
            }
        }
    }

    & .cart_item-delete {
        height: max-content;
        padding: 1rem;
        background-color: unset;
        font-size: x-large;
        border-radius: var(--element-br);
    }
}

.work-info {
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    & .work_info-link {
        color: unset;
        text-decoration: none;
    }

    & .work-title {
        & em {
            font-weight: 400;
        }
    }

    & .work-price {
        font-size: larger;
        font-weight: 800;
        justify-self: end;
    }
}
