.work-info {
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    & .work-title {
        & em {
            font-weight: 400;
        }
    }

    & .work-price {
        font-size: larger;
        font-weight: 800;
        justify-self: end;
    }
}
