.poem-section-container {
    min-height: calc(100vh - 8.5rem);
    max-height: calc(100vh - 8.5rem);
    overflow-x: scroll;
    width: fit-content;
    justify-self: center;
}

#page-turners {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-inline: 2rem;
    gap: 2rem;
}

#page-range {
    flex-grow: 1;
}

#page-buttons {
    display: flex;
    gap: 2rem;
}

#sample-info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    & > * {
        flex: 1;
    }
}
