.work-container {
    display: grid;
    justify-content: center;

    & button.button {
        justify-self: center;
        margin-block: 1rem;
        padding-block: 1rem;
    }

    & .price {
        font-size: larger;
        text-align: center;
    }
}
