.work-container {
    display: grid;
    justify-content: center;

    & button.button {
        justify-self: center;
        margin-block: 1rem;
        padding-block: 1rem;
    }

    & .book-cover {
        justify-self: center;
    }

    & .work-info {
        display: flex;
        justify-self: center;

        & .work-title {
            & em {
                font-weight: 400;
            }
        }

        & .work-price {
            font-size: larger;
        }
    }

    & .read-purchase_buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .work-audio {
        display: grid;
        justify-content: center;

        figcaption {
            text-align: center;
        }
    }
}

@media (width >= 320px) and (width <= 480px) {
    .work-container {
        & .work-info {
            width: 50vw;
        }

        & audio {
            width: 50vw;
        }
    }
}
